@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    html {
        font-family: var(--font-manrope);
    }
}

@theme {
    --font-manrope: 'Manrope', sans-serif;
    --font-jakarta: 'Plus Jakarta Sans', sans-serif;

    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-white2: #FAFAFA;
    --color-blue: #0D93F2;
    --color-blue2: #314158;
    --color-blue-midnight: #0F172B;
    --color-blue-midnight2: #070B14;
    --color-blue-midnight3: #1D293D;
    --color-blue-steel: #90A1B9;
    --color-blue-steel2: #94A3B8;
    --color-blue-steel3: #E2E8F0;
    --color-gray: #62748E;
    --color-gray2: #6E767D;
    --color-gray-slate: #334155;
    --color-gray-slate-light: #CBD5E1;
    --color-navy: #02274F;
    --color-navy-dark: #0F172BCC;

    --color-red: #EB5757;

     --background-image-dark-gradient: linear-gradient(116.82deg, #0F172B 0%, #070B14 100%);
}
